/* 
* Override background gradient
* Make `background: white`
*/
body {
 background: white;
 font-family: sans-serif;
}
p {
 background: none;   
}
#banner {
    width: 300px;
}



/* 
* Override Terrible Papayrus Font 
* Change to `font-family: sans-serif`
*/




/* 
* Override background yellow on paragraphs
* Change to `background: none`
*/


/* 
* Override width of image
* Change to `width: 300px`
*/


